/*ตรงนี้เป็นต้นไปเขียนโค๊ดสำหรับDesktop*/
* {
  font-family: "Anuphan", sans-serif;
}

body {
  margin-bottom: 500px;
}

.second-banner-container {
  display: flex;
  width: 100%;
  height: auto;
}

.second-banner-container-left {
  width: 70%;
  height: 100%;
}

.second-banner-container-right {
  width: 30%;
}

.second-banner-container-left-inside {
  width: 100%;
  height: 304px;
}

/* ส่วน Recommend item */
.recommend-part {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
  background-image: url("/jsd12_group-04_sprint1/src/Art-Furniture-rainbow-bench-1024x680.jpeg");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 14px 14px;
  box-sizing: border-box;
}

.recommend-part-title {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin: 0;
}

.recommend-part-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 900;
  text-decoration: none;
  color: #000;
  flex-shrink: 0;
  cursor: pointer;
}

.recommend-part-btn:hover {
  background: #f0f0f0;

/* ── img wrapper ── */
.img-wrapper {
  position: sticky;
  top: 50px;
  width: 100%;
}

.img-wrapper img.main-img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 24px;
  display: block;
  opacity: 95%;
}
.img-wrapper a::after {
  content: "More items";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 20;
}

.img-wrapper a::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 24px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.img-wrapper a:hover::before,
.img-wrapper a:hover::after {
  opacity: 1;
}

.white-circle {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  width: 17px;
  height: 17px;
}

@media (min-width: 768px) {
  .recommend-part {
    height: 300px;
  }
}
/*ตรงนี้เป็นต้นไปเขียนโค๊ดสำหรับMobile*/
